body {
    font-family: 'EB Garamond', serif;
    padding: 20px;
    
    /* Turn off mouse drag select; REF: https://stackoverflow.com/questions/5429827/how-can-i-prevent-text-element-selection-with-cursor-drag*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0px;
    text-align: center;
}

button {
    font-family:monospace;
    color: whitesmoke;
    font-size: 12px;
    background-color: teal;
    border: 2px greenyellow;
    width: 76px;
    text-align: center;
}

button:hover {
    background-color: rgb(168, 117, 252);
  }

.nav {
    flex-direction: row;
}

.nav button {
    margin:auto;
}

.project_heading {
    flex-direction: row;
}

.title {
    font-family: 'EB Garamond', serif;
    font-size: 34px;
}

.output {
    min-height: 52vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 40px;
}

.prompt {
    font-size: 20px;
}

.muse {
    display: flex;
    flex-direction: column;
}

.input {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#poem {
    min-width: 160px;
}

.project_desc {
    flex-direction: column;
    text-align: center;
}

.actions {
    flex-direction: column;
}

.actions button {
    margin: 5px;
}

.clearButton {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.submitButton {
    height: 20px;
    margin: 5px;
}

#shakespeare {
    font-family: 'Unna', serif;
}

#kanye {
    font-family: 'Staatliches', cursive;
}